@keyframes movement {
	0%{
		transform:translateX(0%); 
		}
		
		
		25%{
				transform:translate(650%,-10%) rotate(90deg);
				
		}
		
		50%{
				transform:translate(650%,-100%) rotate(180deg);

		}
		75%{
				transform:translate(150%,-120%) rotate(270deg);
			
		}
		85%{
			z-index:1;
		}
		
		100%{
			transform:rotate(360deg);
		}	
}

@keyframes movement2 {
	0%{
		transform:translateX(0%); 
		}
		
		
		20%{
				transform:translate(-150%,-10%) rotate(90deg);
		}
		
		30%{
				transform:translate(-300%,150%) rotate(100deg);
		}
		
		45%{
				transform:translate(-300%,400%) rotate(150deg);
		}
		60%{
				transform:translate(300%,400%) rotate(210deg);
		}
		70%{
				transform:translate(500%,300%) rotate(240deg);
		}
		80%{
				transform:translate(500%,100%) rotate(280deg);
		}
		
		
		100%{
				transform:translate(-50%,-10%) rotate(360deg);
		}
		
		
}
@keyframes rotation
{
	0%{
			transform:rotate(0deg);
	}
	
	
	100%{
		transform:rotate(360deg);
		}
}

@keyframes Gallogram
{
	0%{
			transform:scale(1,1);
	}
	25%{
			transform:scale(1.05,1.05);
	}
	50%{
			transform:scale(1.025,1.025);
	}
	75%{
			transform:scale(1.05,1.05);
	}
	
	100%{
			transform:scale(1,1);
		}
}

.Gallogram2{
	animation-name: Gallogram;
	animation-duration:10s;
	animation-timing-function:linear;
	animation-iteration-count:infinite;
}
.Gallogram2:hover{
	opacity:0;
	Animation-play-state:paused;
}

.fisrtplanet{
	animation-name: movement;
	animation-duration:150s;
	animation-timing-function:linear;
	animation-iteration-count:infinite;

}
.MainPlanet{
	animation-name: rotation;
	animation-duration:150s;
	animation-timing-function:linear;
	animation-iteration-count:infinite;
}
.fisrtplanet:hover{
Animation-play-state:paused;
}
.SecondPlanet{
	animation-name: movement2;
	animation-duration:150s;
	animation-timing-function:linear;
	animation-iteration-count:infinite;

}

.SecondPlanet:hover{
Animation-play-state:paused;
}




